.input-row {
  margin-top: 10px;
}

.input {
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  padding: 8px 10px 8px 10px;
  margin-right: 10px;
}

.dropdown {
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  padding: 8px 10px 8px 10px;
}

.error-message {
  color: red;
  margin-left: 20px;
}

#signup-button {
  background-color: rgb(105, 167, 78);
  background-image: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  border: 1px solid;
  font-weight: bold;
  padding: 7px 20px;
}